@import "tailwindcss";

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.95);
	}
}

.animate-fade-in {
	animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
	animation: fade-out 0.3s ease-out forwards;
}

@theme {
	--default-font-family: "Atkinson Hyperlegible Mono", serif;
	--font-russo: "Russo One", serif;
	--font-montserrat: "Montserrat", sans-serif;
}
